
/***********************************************************
    BOTORNES
************************************************************/

.btn,
.btn-sm,
.btn-lg {

    // Inicializa las propiedades
    border: none                    !important;
    background: none                !important;
    border-radius: $btn-bor-rad     !important;
    white-space: nowrap             !important;
    box-shadow: $btn-shadow         !important;
    max-width: fit-content          !important;
    font-weight: $fw                !important;
    text-decoration: none           !important;

    cursor: pointer;
   
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.btn {
    font-size: $btn-fz      !important;
    padding: $btn-padding   !important;
}

.btn-sm {
    font-size: $btn-sm-fz    !important;
    padding: $btn-sm-padding !important;
}
.btn-lg {
    font-size: $btn-lg-fz    !important;
    padding: $btn-lg-padding !important;
}

.btn-fish {
    background-color: var(--fish)           !important;
    color: var(--cure)                      !important;
     &:hover {
        background-color: var(--fish-hov)   !important;
     }

     &:active {
        background-color: var(--fish)       !important;
     }
}

.btn-force {
    background-color: var(--force)          !important;
    color: var(--cure) !important;
     &:hover {
        background-color: var(--force-hov)  !important;
     }


     &:active {
        background-color: var(--force)      !important;
     }
}


.btn-pasture {
    background-color: var(--pasture)        !important;
    color: var(--cure) !important;
     &:hover {
        background-color: var(--pasture-hov) !important;
     }

     &:active {
        background-color: var(--pasture)     !important;
     }
}

.btn-toxic {
    background-color: var(--toxic) !important;
    color: var(--dark) !important;
     &:hover {
        background-color: var(--toxic-hov) !important;
     }

     &:active {
        background-color: var(--toxic) !important;
     }
}


.btn-death {
    background-color: var(--death) !important;
    color: var(--cure) !important;
     &:hover {
        background-color: var(--death-hov) !important;
     }

     &:active {
        background-color: var(--death) !important;
     }
}


.btn-cure {
    background-color: var(--cure) !important;
    color: var(--death) !important;
     &:hover {
        background-color: var(--death) !important;
        color: var(--cure) !important;
     }

     &:active {
        background-color: var(--dark) !important;
        color: var(--cure) !important;
     }
}

.btn-grey {
    background-color: var(--grey) !important;
    color: var(--death) !important;
     &:hover {
        background-color: var(--grey-hov) !important;
     }

     &:active {
        background-color: var(--grey) !important;
     }
}

.btn-gentle {
    background-color: var(--gentle) !important;
    color: var(--dark) !important;
     &:hover {
        background-color: var(--gentle-hov) !important;
     }

     &:active {
        background-color: var(--gentle)     !important;
     }
}

.btn-haven {
    background-color: var(--haven)         !important;
    color: var(--dark)                     !important;
     &:hover {
        background-color: var(--haven-hov) !important;
     }

     &:active {
        background-color: var(--haven)    !important;
     }
}

.btn-dark {
    background-color: var(--dark)         !important;
    color: var(--cure)                    !important;
     &:hover {
        background-color: var(--dark-hov) !important;
     }

     &:active {
        background-color: var(--dark)     !important;
     }
}

a.link {
   color: rgb(0, 102, 185);
   border-bottom: 1.45px solid rgb(0, 102, 185);
   line-height: 20px;
   text-decoration: none;
   &:hover {
       color: rgb(16, 148, 255);
       border-bottom: 1.45px solid rgb(16, 148, 255);
   }
}

a.disabled,
a.link.disabled {
   color: rgb(197, 197, 197) !important;
   border-bottom: 1.45px solid rgb(197, 197, 197) !important;
}

.btn.disabled,
.btn-sm.disabled,
.btn-lg.disabled {
   background-color:       $disabled-bgcolor;
   color: #aaaaaa        !important;
   box-shadow: none        !important;
   border: none            !important;
}