
/***********************************************************
    BOTORNES
************************************************************/
.btn,
.btn-sm,
.btn-lg {
   @include initButton();
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
}

.btn {
    font-size: $btn-fz      !important;
    padding: $btn-padding   !important;
}

.btn-sm {
    font-size: $btn-sm-fz    !important;
    padding: $btn-sm-padding !important;
}
.btn-lg {
    font-size: $btn-lg-fz    !important;
    padding: $btn-lg-padding !important;
}

@each $var in $listadoNombresOscuros {
   .btn-#{$var} {
      background-color: map-get($map: $listadoColoresOscuros, $key: $var ) !important;
      color: var(--cure);
      &:hover {
         background-color: var(--#{$var}-hov)   !important;
         transition: all 0.3s ease;
      }
      
   }
}

@each $var in $listadoNombresClaros {
   .btn-#{$var} {
      background-color: map-get($map: $listadoColoresClaros, $key: $var ) !important;
      color: var(--dark);
      &:hover {
         background-color: var(--#{$var}-hov)   !important;
         transition: all 0.3s ease;
      }
      
   }
}

.btn-grey {
    background-color: var(--grey) !important;
    color: var(--death) !important;
     &:hover {
        background-color: var(--grey-hov) !important;
        transition: all 0.3s ease;
     }

     &:active {
        background-color: var(--grey) !important;
     }
}


@each $var in $listadoNombresOscuros {
   .btn-o-#{$var} {
      background-color: transparent;
      border: 1px solid map-get($map: $listadoColoresOscuros, $key: $var ) !important;
      color: var(--#{$var});
      &:hover {
         background-color: var(--#{$var})   !important;
         color: var(--cure) !important;
         transition: all 0.3s ease;
      }
   }
}

@each $var in $listadoNombresClaros {
   .btn-o-#{$var} {
      background-color: transparent;
      border: 1px solid map-get($map: $listadoColoresClaros, $key: $var ) !important;
      color: var(--#{$var});
      &:hover {
         background-color: var(--#{$var})   !important;
         color: var(--death) !important;
         transition: all 0.3s ease;
      }
   }
}


@each $var in $listadoNombresSombras {
   .btn-#{$var},
   .btn-o-#{$var} {
      &:focus {
         box-shadow:  map-get($map: $shadows, $key: #{$var}) !important;
      }
   }
}

.btn-grey,
.btn-o-grey {
   &:focus {
      box-shadow:  0 0 0 5px #c4c4c446 !important;
   }
}

a.link {
   color:         $a-link-color;
   border-bottom: $a-link-border;
   line-height:   $a-link-lh;
   text-decoration: none;
   &:hover {
       color: $a-link-hover-color;
       border-bottom: $a-link-hover-border;
   }
}

a.disabled,
a.link.disabled {
   color:         $a-link-disabled-color;
   border-bottom: $a-link-disabled-border;
}

.btn.disabled,
.btn-sm.disabled,
.btn-lg.disabled {
   background-color:       $disabled-bgcolor;
   color: #aaaaaa        !important;
   box-shadow: none        !important;
   border: none            !important;
}


.btn-grad-1,
.btn-grad-2,
.btn-grad-3,
.btn-grad-4,
.btn-grad-5 {
   @include initButton();
   max-width:              fit-content;
   font-size:              1em               !important;
   border-radius:          9999999px         !important;
   padding:                1em;
   color:                  var(--cure)       !important;
   font-weight:            $fw-500           !important;
   display:                flex;
   justify-content:        center;
   align-items:            center;
   text-decoration:        none;
}

.btn-grad-1 {
   background:             $gradient-1  !important;
}

.btn-grad-2 {
   background:             $gradient-2  !important;
} 


.btn-grad-3 {
   background:             $gradient-3  !important;
}

.btn-grad-4 {
   background:             $gradient-4  !important;
} 

.btn-grad-5 {
   background:             $gradient-5  !important;
}

.waves {
   overflow: hidden;
   position: relative;
}

.waves-effect {
   transform:  translate(-50%, -50%) !important;
   position: absolute;
   border-radius: 50%;
   opacity: 0.4;
}