/***********************************************************
    COLORES DE FONDO
************************************************************/
.bg-force {
    background-color: var(--bg-force) !important;
}

.bg-toxic {
    background-color: var(--bg-toxic) !important;
}

.bg-dark {
    background-color: var(--bg-dark) !important;
}

.bg-fish {
    background-color: var(--bg-fish) !important;
}

.bg-grey {
    background-color: var(--bg-grey) !important;
}

.bg-gentle {
    background-color: var(--bg-gentle) !important;
}

.bg-pasture {
    background-color: var(--bg-pasture) !important;
}

.bg-death {
    background-color: var(--bg-death) !important;
}

.bg-cure {
    background-color: var(--bg-cure) !important;
}

/***********************************************************
    COLORES DE TEXTO
************************************************************/

.t-force {
    color: var(--bg-force) !important;
}

.t-toxic {
    color: var(--bg-toxic) !important;
}

.t-dark {
    color: var(--bg-dark) !important;
}

.t-fish {
    color: var(--bg-fish) !important;
}

.t-grey {
    color: var(--bg-grey) !important;
}

.t-gentle {
    color: var(--bg-gentle) !important;
}

.t-pasture {
    color: var(--bg-pasture) !important;
}

.t-death {
    color: var(--bg-death) !important;
}

.t-cure {
    color: var(--bg-cure) !important;
}