/***********************************************************
    COLORES DE FONDO
************************************************************/
.bg-force {
    background-color: var(--force) !important;
}

.bg-toxic {
    background-color: var(--toxic) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-fish {
    background-color: var(--fish) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-gentle {
    background-color: var(--gentle) !important;
}

.bg-pasture {
    background-color: var(--pasture) !important;
}

.bg-death {
    background-color: var(--death) !important;
}

.bg-cure {
    background-color: var(--cure) !important;
}

/***********************************************************
    COLORES DE TEXTO
************************************************************/

.t-force {
    color: var(--force) !important;
}

.t-toxic {
    color: var(--toxic) !important;
}

.t-dark {
    color: var(--dark) !important;
}

.t-fish {
    color: var(--fish) !important;
}

.t-grey {
    color: var(--grey) !important;
}

.t-gentle {
    color: var(--gentle) !important;
}

.t-pasture {
    color: var(--pasture) !important;
}

.t-death {
    color: var(--death) !important;
}

.t-cure {
    color: var(--cure) !important;
}