.label-topic {



    display:    flex;
    flex-wrap:  nowrap;
    width:      fit-content;
    .lab {
        max-width:          fit-content;
        border-radius:      999999px;
        font-size:          15px;
        text-decoration:    none;
        padding:            7px 20px;
        padding-right:      40px;
        background-color:   #2456c441;
        margin-left:        3px;
        position:           relative;
        display:            flex;
        justify-content:    center;
        align-items:        center;
        a {
            text-decoration: none;
            color: black;
          
        }

        .cruz {
            position:   absolute;
            right:      9px;
            color:      black;
            font-weight: 500;
            font-size:  18px;
            cursor:     pointer;
            
        }
    }
}

.topic {
    background-color: transparent;
    display: flex;
    input.camp {
        background-color: transparent   !important;
        border:none                     !important;
        width: 100%;
        &:focus {
            border: none !important;
            border: 1px solid transparent !important;

        }
    }
}