/***********************************************************
    NAV
************************************************************/

.body-nav-dark,
.body-nav-gentle,
.body-nav-pasture,
.body-nav-toxic,
.body-nav-force,
.body-nav-haven,
.body-nav-fish,
.body-nav-cure,
.body-nav-grey,
.body-nav-death,
.body-nav-traslucent {
    position:           relative;
    width:              auto;
    display:            flex;
    align-items:        center;
    
    background-color:   var(--force);
    padding:            $nav-body-padding;
    font-size:          $nav-body-fz;

    z-index:            dameZIndex(nav);

    user-select: none;

    .bs-menu-line-1,
    .bs-menu-line-2,
    .bs-menu-line-3,
    .bs-menu-line-4,
    .bs-close {
        position: absolute;
        right: 15px;
        top:calc(50% - 12px);
        cursor: pointer;
        font-size:      1.5em;
        z-index: 1000000000; 
    }

    .bs-close {
        font-size:      2em;
    }

    
    
    
    .container {
        display:        flex;
        align-items:    center;

        @media (max-width: 1024px) {
            & {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .body-logo {
        text-decoration:        none;
        font-weight:            $fw-500;
        font-size:              $nav-fz-logo;
        margin-right:           1em;
        display:                flex;
        align-items:            center;
        
    }



    .body-list {


        list-style:             none;
        display:                flex;
        align-items:            center;
        width:                  $nav-list-width;
        margin-right:           1em;

        & li a {
            font-size:          $a-link-fz;
            text-decoration:    none;
            padding:            $nav-list-link-padding;
            display:            flex;
            font-weight: $fw-300;
        }
    }   
}

.body-nav-dark,
.body-nav-death {
    background-color:   var(--dark);
    .body-logo {
        color:          var(--cure);
    }


    .body-list {
        & li a {
            color:      var(--cure);
            &:hover {
                color:  var(--grey);
            }
        }
    }
}


.body-nav-haven,
.body-nav-toxic,
.body-nav-gentle,
.body-nav-cure,
.body-nav-grey,
.body-nav-traslucent  {
    .body-logo {
       
        color: var(--death);
    }

    .body-list {
        & li a {
            color: var(--death);
            &:hover {
                color: var(--dark);
            }
        }
    }
}

.body-nav-force,
.body-nav-fish,
.body-nav-pasture {

    .body-logo {
        color: var(--cure);
    }
    & li a {
        color: var(--cure);
        &:hover {
            color: var(--grey);
        }
    }
}

.body-nav-force {
    background-color: var(--force);
}


.body-nav-fish {
    background-color: var(--fish);
}

.body-nav-gentle {
    background-color: var(--gentle);
}

.body-nav-pasture {
    background-color: var(--pasture);
}

.body-nav-haven {
    background-color: var(--haven);
}

.body-nav-toxic {
    background-color: var(--toxic);
}

.body-nav-cure {
    background-color: var(--cure);
}

.body-nav-grey {
    background-color: var(--grey);
}

.body-nav-death {
    background-color: var(--death);
}

.body-nav-traslucent {
    background-color: rgba(0, 0, 0, 0);
}

[class*="body-nav"].fixed {
    position: fixed !important;
    top:    0 !important;
    left:   0 !important;
    right:  0 !important;
} 


/***********************************************************
    SIDEBAR
************************************************************/


.body-sidebar-force,
.body-sidebar-fish,
.body-sidebar-death,
.body-sidebar-pasture,
.body-sidebar-gentle,
.body-sidebar-grey,
.body-sidebar-cure,
.body-sidebar-toxic,
.body-sidebar-haven,
.body-sidebar-dark{
    // 1EM
    font:           16px;
    position:       fixed;
    width:          $sidebar-width;
    top:            0;
    bottom:         0;
    left:           - $sidebar-width;
    z-index:        dameZIndex(sidebar);
    border-right:   $side-bar-border;
    transition:     left 0.3s ease;

    user-select:    none;

    .side-list {
        width: 100%;
        margin-top:             $sidebar-list-mt;
        list-style:             none;
        display:                flex;
        flex-direction:         column;
        overflow:               hidden;


        .side-logo {
            display:            flex;
            justify-content:    center;
            padding:            $side-logo-padding;
            font-weight:        $fw-500;
            font-size:          $side-logo-fz;
            border-bottom:      $side-bar-border;
            background-color:   $side-logo-bgcolor;
            text-align: center;

        }
        & li a {
            display:            flex;
            justify-content: center;
            text-decoration:    none;
            width:              $sidebar-link-width;
            font-size:          $sidebar-link-fz;
            padding:            $sidebar-link-padding;
            font-weight:        $fw-300;
            text-align:         center;
            border-bottom:      1px solid rgba(0, 0, 0, 0.144);
        }
    }
}

.body-sidebar-force,
.body-sidebar-fish,
.body-sidebar-death,
.body-sidebar-pasture,
.body-sidebar-dark {

    .side-logo {
        color: var(--cure);
    }

    .side-list {
        & li a {
            color: var(--cure);
            border-bottom:      1px solid #ffffff25;
            &:hover {
                background-color: rgba(0, 0, 0, 0.048);
            }
        }
    }
}


.body-sidebar-grey,
.body-sidebar-toxic,
.body-sidebar-haven,
.body-sidebar-cure,
.body-sidebar-gentle {
    .side-logo {
        color: var(--death);
        
    }
    .side-list {
        & li a {
            color: var(--death);
            border-bottom:      1px solid #00000025;
            &:hover {
                background-color: rgba(0, 0, 0, 0.048);
            }
        }
    }
}

.body-sidebar-force {
    background-color: var(--force);
}

.body-sidebar-fish {
    background-color: var(--fish);
}

.body-sidebar-toxic {
    background-color: var(--toxic);
}

.body-sidebar-pasture {
    background-color: var(--pasture);
}

.body-sidebar-death {
    background-color: var(--death);
}

.body-sidebar-gentle {
    background-color: var(--gentle);
}

.body-sidebar-cure {
    background-color: var(--cure);
}

.body-sidebar-grey {
    background-color: var(--grey);
}

.body-sidebar-haven {
    background-color: var(--haven);
}

.body-sidebar-dark {
    background-color: var(--dark);
}

.body-sidebar-cover {
    position:   fixed;
    top:                    0;
    left:                   0;
    right:                  0;
    bottom:                 0;
    z-index:             dameZIndex(cobertura-nav);;
}