
*::before,
*::after {
    padding:            0;
    margin:             0;
    box-sizing:         border-box;
}

body,
body * {
    padding:            0;
    margin:             0;
    letter-spacing:     var(--es-character);
    width:              auto;
    box-sizing:         border-box;
}

h1 {
    font-size: $h1-fz;
    font-weight: $fw-600;
}

h2 {
    font-size: $h2-fz;
    font-weight: $fw-500;
}

h3 {
    font-size: $h3-fz;
    font-weight: $fw-500;
}

h4 {
    font-size: $h4-fz;
    font-weight: $fw-400;
}

h5 {
    font-size: $h5-fz;
    font-weight: $fw-400;
}

h6 {
    font-size: $h6-fz;
    font-weight: $fw-300;
}

p, span, a {
    font-size: 1em;
}

.display-1 {
    font-size: 3.75em !important;
}

.display-2 {
    font-size: 4em !important;
}

.display-3 {
    font-size: 4.25em !important;
}


.display-4 {
    font-size: 4.5em !important;
}

.display-5 {
    font-size: 4.75em !important;
}

