@mixin agregar-a-medida-maxima($tam) { 
    @if map-has-key($sizes, $tam) {
        @media (max-width: #{map-get($sizes, $tam)}) {
            @content;
        }
    }
  
    @else {
      @warn "El tamaño seleccionado no existe";
    }
};

@mixin agregar-a-medida-minima($tam) { 
    @if map-has-key($sizes, $tam) {
        @media (min-width: #{map-get($sizes, $tam)}) {
            @content;
        }
    }

    @else {
      @warn "El tamaño seleccionado no existe";;
    }
};


@mixin initButton () {
    // Inicializa las propiedades
    border: none                    !important;
    background: none                !important;
    border-radius: $btn-bor-rad     !important;
    white-space: nowrap             !important;
    max-width: fit-content          !important;
    font-weight: $fw                !important;
    text-decoration: none           !important;
}