///////////////////////////////////////////////////////////////// 
//////////////////////// TEXTO /////////////////////////////////
////////////////////////////////////////////////////////////////

// Font Size
$h1-fz: 3em;
$h2-fz: 2.8em;
$h3-fz: 2.3em;
$h4-fz: 2.0em;
$h5-fz: 1.8em;
$h6-fz: 1.5em;

// Font Weight
$fw-100: 100; 
$fw-200: 200; 
$fw-300: 300; 
$fw-400: 400; 
$fw-500: 500; 
$fw-600: 600; 
$fw-700: 700; 
$fw-800: 800; 
$fw-900: 900;
$fw-bold: bold;


///////////////////////////////////////////////////////////////// 
//////////////////////// BOTONES ////////////////////////////////
/////////////////////////////////////////////////////////////////

// Del tipo btn
$btn-fz:                                1.1em;
$btn-padding:                           0.5em 1em;

// Del tipo btn-sm
$btn-sm-fz:                             1em;
$btn-sm-padding:                        0.4em 0.8em;

// Del tipo btn-lg
$btn-lg-fz:                             1.3em;
$btn-lg-padding:                        0.9em 1.2em;

// Para todos los botones
$fw:                                    400;
$btn-shadow:                            0px 2px 3px #00000075;
$btn-bor-rad:                           0.2em;


///////////////////////////////////////////////////////////////// 
//////////////////////// MEDIDAS ////////////////////////////////
/////////////////////////////////////////////////////////////////

$sizes:(
            xs: 400px,
            s: 770px,
            m: 1030px,
            l: 1200px, /// Mayor 
);


///////////////////////////////////////////////////////////////// 
//////////////////////// NAV ////////////////////////////////////
/////////////////////////////////////////////////////////////////

$nav-body-padding:          0 2em;
$nav-body-fz:               1.1em;

// Lista
$nav-list-width:            80%;

//Logo
$nav-fz-logo:               1.4em;

// Enlaces
$nav-hover-white:         #ffffff13;
$nav-hover-black:         #00000013;
$nav-list-link-padding:     0.9em 0.7em;


///////////////////////////////////////////////////////////////// 
//////////////////////// SIDEBAR ////////////////////////////////
/////////////////////////////////////////////////////////////////


$sidebar-width:             210px; 
$sidebar-list-mt:           0em;
$sidebar-link-fz:           1em;
$sidebar-link-padding:      0.5em;
$sidebar-link-width:        100%;

$side-logo-bgcolor:       rgba(0, 0, 0, 0.041);
$side-logo-padding:         0.7em 0.8em;
$side-logo-fz:              1.25em;
$side-bar-border:           1px solid rgba(0, 0, 0, 0.055);

///////////////////////////////////////////////////////////////// 
//////////////////////// Z-INDEX ////////////////////////////////
/////////////////////////////////////////////////////////////////


$z-index:(
            modal:           500,
            cobertura-modal: 450,
            tips:            420,
            dropdown:        420,
            comment:         420,
            
            sidebar:         420, 
            cobertura-nav:   410,
            nav:             400,
            toast:           320,
);



