///////////////////////////////////////////////////////////////// 
//////////////////////// LISTADO COLORES ///////////////////////
////////////////////////////////////////////////////////////////

$fonts: system-ui,
-apple-system,
 BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue", Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji", 
"Segoe UI Emoji", 
"Segoe UI Symbol", 
"Noto Color Emoji";


///////////////////////////////////////////////////////////////// 
//////////////////////// LISTADO COLORES ///////////////////////
////////////////////////////////////////////////////////////////


$listadoColoresOscuros: (
    force:      var(--force),
    pasture:    var(--pasture),
    fish:       var(--fish),
    death:      var(--death),
    dark:       var(--dark)
);

$listadoNombresOscuros: "force", "pasture", "fish", "death", "dark";

$listadoColoresClaros: (
    cure:       var(--cure),
    gentle:     var(--gentle),
    toxic:      var(--toxic),
    haven:      var(--haven)
);

$listadoNombresClaros: "cure", "gentle", "toxic", "haven";


$shadows: (
    cure:       0 0 0 5px #ffffff4f,
    force:      0 0 0 5px #d11e1e54,
    toxic:      0 0 0 5px #ffc80252,
    pasture:    0 0 0 5px #098d5a52,
    gentle:     0 0 0 5px #eeeeee81,
    dark:       0 0 0 5px #292a3044,
    death:      0 0 0 5px #00000042,
    haven:      0 0 0 5px #00cafd54,
    fish:       0 0 0 5px #2253ce42
);

$listadoNombresSombras: "cure", "gentle", "toxic", "haven","dark", "pasture", "death", "fish", "force";


//////////////////////////////////////////////////////////////// 
//////////////////////// TEXTO /////////////////////////////////
////////////////////////////////////////////////////////////////

// Font Size
$h1-fz: 3em;
$h2-fz: 2.8em;
$h3-fz: 2.3em;
$h4-fz: 2.0em;
$h5-fz: 1.8em;
$h6-fz: 1.5em;

// Font Weight
$fw-100: 100; 
$fw-200: 200; 
$fw-300: 300; 
$fw-400: 400; 
$fw-500: 500; 
$fw-600: 600; 
$fw-700: 700; 
$fw-800: 800; 
$fw-900: 900;
$fw-bold: bold;


///////////////////////////////////////////////////////////////// 
//////////////////////// BOTONES ////////////////////////////////
/////////////////////////////////////////////////////////////////

// Del tipo btn
$btn-fz:                                1.1em;
$btn-padding:                           0.4em 1em;

// Del tipo btn-sm
$btn-sm-fz:                             1em;
$btn-sm-padding:                        0.3em 0.8em;

// Del tipo btn-lg
$btn-lg-fz:                             1.3em;
$btn-lg-padding:                        0.6em 1.2em;

// Para todos los botones
$fw:                                    400;
$btn-shadow:                            0px 2px 3px #00000075;
$btn-bor-rad:                           0.3em;


$a-link-color:                          #0066b9;
$a-link-border:                         1.45px solid #0066b9;
$a-link-lh:                             1.1em;
$a-link-hover-color:                    #1094ff;
$a-link-hover-border:                   1.45px solid #1094ff;
$a-link-disabled-color:                 #c5c5c5 !important;
$a-link-disabled-border:                1.45px solid #c5c5c5 !important;


///////////////////////////////////////////////////////////////// 
//////////////////////// MEDIDAS ////////////////////////////////
/////////////////////////////////////////////////////////////////

$sizes:(
            xs: 400px,
            s: 770px,
            m: 1030px,
            l: 1200px, /// Mayor 
);


///////////////////////////////////////////////////////////////// 
//////////////////////// NAV ////////////////////////////////////
/////////////////////////////////////////////////////////////////

$nav-body-padding:          0.7em 2em;
$nav-body-fz:               1.1em;

// Lista
$nav-list-width:            80%;

//Logo
$nav-fz-logo:               1.6em;

// Enlaces
$nav-hover-white:         #ffffff13;
$nav-hover-black:         #00000013;
$nav-list-link-padding:     0em 0.3em;
$a-link-fz:                 1.2em;

///////////////////////////////////////////////////////////////// 
//////////////////////// SIDEBAR ////////////////////////////////
/////////////////////////////////////////////////////////////////


$sidebar-width:             210px; 
$sidebar-list-mt:           0em;
$sidebar-link-fz:           1.2em;
$sidebar-link-padding:      0.5em 1em;
$sidebar-link-width:        100%;

$side-logo-bgcolor:       rgba(0, 0, 0, 0.041);
$side-logo-padding:         0.56em 1em;
$side-logo-fz:              1.6em;
$side-bar-border:           1px solid rgba(0, 0, 0, 0.055);

///////////////////////////////////////////////////////////////// 
//////////////////////// Z-INDEX ////////////////////////////////
/////////////////////////////////////////////////////////////////


$z-index:(
            modal:           500,
            cobertura-modal: 450,
            tips:            420,
            dropdown:        420,
            comment:         420,
            
            sidebar:         420, 
            cobertura-nav:   410,
            nav:             400,
            toast:           320,
);


///////////////////////////////////////////////////////////////// 
//////////////////////// GRADIENTES /////////////////////////////
/////////////////////////////////////////////////////////////////

$gradient-1:            linear-gradient(90deg, #f327e2, #185fca);
$gradient-2:            linear-gradient(90deg, #a127f3, #185fca);
$gradient-3:            linear-gradient(90deg, #110ed4, #446dac);
$gradient-4:            linear-gradient(140deg,#c4c4c4, #ffffff);
$gradient-5:            linear-gradient(140deg,#9ec72c, #c91a5d);
$gradient-6:            linear-gradient(70deg,#1a1a1d, #023b69,#1a1a1d);

///////////////////////////////////////////////////////////////// 
//////////////////////// CARD ///////////////////////////////////
/////////////////////////////////////////////////////////////////

// Modelo 1 ****************************************************
$card-border:           1px solid #00000013;
$card-border-rad:       4px;
$card-padding:          0.8em;
$card-maxw:             250px;
$card-lh:               1.4em;

// Footer
$card-footer:         #00000007;


// Modelo 2 con imagen
// Generales
$card-imagew:           14.365em;
$card-image-padding:    1.2em;
$card-image-border:     1px solid #00000028;
$card-image-radio:      .5em;

// IMG
$card-image-imgh:       7.5em;
$card-image-imgw:       100%;


$card-img-contw:        6em;
$card-img-conth:        6em;
$card-img-cont-top:     1.5em;
$card-img-cont-left:    calc(50% - 48px);
$card-img-cont-radio:   50%;
$card-img-cont-img-mw:  100%;
$card-img-cont-imgw:    6em;
$card-img-cont-imgh:    6em;

// generales para toda la card
$card-shadow:                3px 0.1px 20px #0000009d;
$card-gradient-1:            $gradient-1;
$card-gradient-2:            $gradient-2;


$card-content-mt:            6.875em;
$card-content-mb:            2.5em;
$card-border-bottom:         1px solid #0000001f;

$card-content-title-fz:      1.5em;
$card-content-small:        #a5a5a5;


///////////////////////////////////////////////////////////////// 
//////////////////////// FORMULARIO /////////////////////////////
/////////////////////////////////////////////////////////////////

$input-borde:               1px solid rgba(0, 0, 0, 0.233);
$input-fz:                  1em;  
$input-color:              #363636;
$input-padding:             0.7em;
$input-radio:               8px;


$input-color-placeholder:   #9e9e9e;
$input-borde-focus:         1px solid #87caf7 !important;
$group-label-color:         #4b4b4b;
$disabled-bgcolor:          #f1f1f1 !important;

